body {
    font-family: 'Roboto', sans-serif;
    background: rgb(0, 182, 255);
    text-align: center;
}

.container {
    width: 1000px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.2;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
    text-shadow:  0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

table {
    border-collapse: collapse;
    margin-left: 200px;
    margin-top: 20px;
    }

.main {
    background: rgb(5, 28, 90);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    height: 550px;
    color: white;
}

.header {
    height: 600px;
    background: url("./../img/bg.jpg");
    background-size: cover;
}

.header .menu ul {
    display: flex;
}

.header .menu {
    background-color: rgba(19, 19, 194, 0.5);
    padding: 20px;
}

.header .menu ul {
    display: flex;
}

.header .menu ul li {
    color:white;
    font-weight: bold;
    padding: 10px;
}

.header {
    display: flex;
}

.header .boxes .box {
    width: 100px;
    height: 100px;
        background: rgb(5, 28, 90);
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header .boxes .box:hover {
    color: rgb(0, 195, 255);
    width: 120px;
    height: 120px;
    transition: width 1s, height 1s;
}

.header .boxes .line {
    display: flex
}

.header .titles h2 {
    font-size: 24px;
    color:rgb(38, 0, 255);
    background: rgba(230, 236, 231, 0.5);
    padding: 10px;
    margin-top: 20px;
}

.header .promo .titles p {
    font-size: 16px;
    color:rgb(254, 255, 247);
}

.low-line {
    display: flex;
    justify-content: space-between;
    background: #002171;
}

.low-line .box {
    display: flex;
    align-items: center;
}

.low-line .box h2 {
    font-size: 34px;
    color:white;
}

.low-line .box h3 {
    padding: 20px;
    color:white;
}