{% extends 'base.html' %}
{% block head %}
<title>THE BEST APP</title>
{% endblock %}

{% block body %}
<h1>Najlepsza trasa!</h1>
<div class="content">
        <div class = "low-line">
            <div class="box">
                <h2>1</h2>
                <h3>Najszybsza trasa</h3>
            </div>
            <div class = "box">
                <h2>2</h2>
                <h3>Działa bez internetu</h3>
            </div>
            <div class = "box">
                <h2>3</h2>
                <h3>Działa jak strzała</h3>
            </div>
            <div class = "box">
                <h2>24/7</h2>
                <h3>Dostępna pomoc</h3>
            </div>
        </div>
    <br/>
     <img src="https://storage.googleapis.com/support-forums-api/attachment/thread-66146071-16726682958808905381.png" height="60%" width="60%">
    <table class="table">
        <tr>
            <th class="city">Tu zacznij</th>
            <th class="coordinates">Miejsce docelowe</th>
            <th>Dystans</th>
        </tr>
        {% for road in points %}
        <tr>
            <td>{{ road.point_o }}</td>
            <td>{{ road.point_s }}</td>
            <td>{{ road.distance }}</td>
            <td>
                <a href="/delete/{{ road.id }}">Delete</a>
                <br>
                <a href="/update/{{ road.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
        </div>
</div>
{% endblock %}
