{% extends 'base.html' %}
{% block head %}
<title>THE BEST APP</title>
{% endblock %}

{% block body %}
<h1>Najlepsza trasa!</h1>
<div class="content">
        <div class = "low-line">
            <div class="box">
                <h2>1</h2>
                <h3>Najszybsza trasa</h3>
            </div>
            <div class = "box">
                <h2>2</h2>
                <h3>Działa bez internetu</h3>
            </div>
            <div class = "box">
                <h2>3</h2>
                <h3>Działa jak strzała</h3>
            </div>
            <div class = "box">
                <h2>24/7</h2>
                <h3>Dostępna pomoc</h3>
            </div>
        </div>
    <br/>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21817670.67907338!2d4.119529288191718!3d48.123932914927046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ed8886cfadda85%3A0x72ef99e6b3fcf079!2sEuropa!5e0!3m2!1spl!2spl!4v1655065808492!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="main">
        <br/>
    <table class="table">
        <tr>
            <th>Tu zacznij</th>
            <th>Miejsce docelowe</th>
            <th>Dystans</th>
        </tr>
        {% for road in points %}
        <tr>
            <td>{{ road.point_o }}</td>
            <td>{{ road.point_s }}</td>
            <td>{{ road.distance }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
