{% extends 'base.html' %}
{% block head %}
<title>THE BEST APP</title>
{% endblock %}

{% block body %}
<h1>Wybornie że jesteś!</h1>
<div class="content">
        <div class = "low-line">
            <div class="box">
                <h2>1</h2>
                <h3>Najszybsza trasa</h3>
            </div>
            <div class = "box">
                <h2>2</h2>
                <h3>Działa bez internetu</h3>
            </div>
            <div class = "box">
                <h2>3</h2>
                <h3>Działa jak strzała</h3>
            </div>
            <div class = "box">
                <h2>24/7</h2>
                <h3>Dostępna pomoc</h3>
            </div>
        </div>
    <table class="table">
        <tr>
            <th class="city">Miejscje startowe</th>
            <th class="coordinates">Miejsce docelowe</th>
            <th class="action">Operacje</th>
        </tr>
        {% for point in points %}
        <tr>
            <td>{{ point.name }}</td>
            <td>{{ point.coordinates }}</td>
            <td>

                <br>
                <a href="/update/{{ point.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
        </div>
</div>
{% endblock %}
